@import 'variables';

.input-group-sm {
  .btn,
  input {
    background-color: white;
    border: none;
    &:focus {
      box-shadow: none;
    }
  }
  .btn-outline-secondary {
    color: $meliBlack;
    &:hover {
      color: $meliGrey;
    }
  }
}

.btn-primary {
  background-color: $meliBlue;
  border-color: $meliBlue;
}

.clickeable {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}